<h1>Editing Post</h1>
<form action="/admin/<%= @post.id %>/edit" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" value="<%= @post.title %>">

  <textarea name="body" rows="8" cols="80"><%= @post.body %></textarea>

  <input type="hidden" name="posted_on" value="<%= @post.posted_on %>">

  <input type="submit" value="Update">
</form>
