<h1>Admin - All posts</h1>
<a href="/admin/new">New post</a>
<% @posts.each do |post| %>
<div class="admin-post">
  <h3 class="post-title"><%= post.title %></h3>
  <ul class="admin-functions">
    <li><a href="/posts/<%= post.id %>">View</a></li>
    <li><a href="/admin/<%= post.id %>">Edit</a></li>
    <li>
      <form action="/admin/<%= post.id %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>
    </li>
  </ul>
</div>
<% end %>
