<h1>New Post</h1>
<form action="/admin" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" id="title">

  <textarea name="body" rows="8" cols="80" placeholder="What's on your mind?"></textarea>

  <input type="submit" value="Post">
</form>
